
@media only screen and (max-device-width: 1080px){
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
	}
	body{
		width: 100%;		
		background-color: #ffffba;
		text-align: center;
		font-family: sans-serif;
	}
	header{
		width: 100%;		
		position: fixed;
		background-color: #ffffba;					
	}
	h1{
		width: 100%;
		font-size: 80%;		
		background-color: #ffffba;	
		font-family: 'Times New Roman', Times, serif;
		font-weight: lighter;
		margin: 2% 0 2% 0;					
	}	
	.iconoNav{
		width: 20px;
		height: 20px;		
		border-radius: 50%;
		border: 2px solid yellowgreen;
		margin-right: 1%;		
	}
	.iconoComentarios{
		width: 18%;
		margin: 0% 1% 0.8% 0%;
	}	
	.menu{
		width: 100%;
		text-align: left;
	}
	nav{
		border-top: 1px solid #111111;
		border-bottom:  1px solid #111111;		
		background-color: #ffffba;
		padding: 1% 2% 0% 0%;
		text-align: right;			
	}
	main{
		width: 100%;
		padding-top: 17%;						
	}
	article{
		width: 100%;		
		text-align: left;	
	}
	.fotoAutor{
		width: 10%;
		height: 10%;
		margin: 2% 3% 0% 2%		
	}
	.enlaceDocumento{
		font-size: 70%;
		font-weight: lighter;
		text-decoration: none;
		color: #111111;
	}
	h2{
		border-bottom: 1px solid #111111;
	}	
	iframe{
		width: 100%;
		height: 400px;		
	}
	.disqus_thread{
		width: 100%;
		margin: 20%;
	}

  /*sidebar barra lateral primera*/
  #sidebar {
	position: fixed;
	z-index: 3;
	width: 25%;
	height: 100%;
	background-color: #6fcb9f;
	left: -25%;
	transition: 500ms;	  
	cursor: pointer;	
  }
  #sidebar.active {
	left: 0;
  }
  .boton {
	position: absolute;
	left: 95px;
	cursor: pointer;
	background-color: #f6f786;
	color: #111111;  
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 13px;  
	border-radius: 50%;
	border: 2px solid yellowgreen;
	margin-top: 35.5%;
  }  
  .logo {
	border-radius: 50%;
	display: block;
	width: 45%;
	padding: 20px;	
  } 
  ul li {
	padding: 0;
	margin-bottom: 10px;
	color: white;
	text-align: center;
	list-style: none;
	width: 100%;	
	font-size: 75%;	
  }  
  /*sidebar barra lateral segunda*/ 
  .tituloBarraLateral {
	text-align: right;
	font-size: 80%;
	color: #f6f786;	
  } 
  .enlaceBarra{
	display: block;
	text-decoration: none;
	margin-top: 5%;
	font-size: 75%;
	color: white;
	text-align: right;	
  }  
  #sidebar2 { 
	z-index: 2;
	position: fixed;
	width: 60%;	
	background-color: #52bf90;
	left: -72%;
	transition: 500ms;
	margin-top: 40%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar2.active{
	  left: 0;
  }  
  #sidebar3 { 
	z-index: 2;
	position: fixed;
	width: 63%;	
	background-color: #49ab81;
	left: -75%;
	transition: 500ms;
	margin-top: 35%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar3.active{
	left: 0;
  }  
  #sidebar4 { 
	z-index: 2;
	position: fixed;
	width: 66%;	
	background-color: #419873;
	left: -78%;
	transition: 500ms;
	margin-top: 30%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
   #sidebar4.active{
	left: 0;
  }  
  #sidebar5 { 
	z-index: 2;
	position: fixed;
	width: 69%;	
	background-color: #398564;
	left: -81%;
	transition: 500ms;
	margin-top:  25%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar5.active{
	left: 0;
  }  
  #sidebar6 { 
	z-index: 2;
	position: fixed;
	width: 72%;	
	background-color: #317256;
	left: -84%;
	transition: 500ms;
	margin-top: 20%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar6.active{
	left: 0;
  }   
  #sidebar7 { 
	z-index: 2;
	position: fixed;
	width: 75%;	
	background-color: #77ab59;
	left: -87%;
	transition: 500ms;
	margin-top:  15%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar7.active{
	left: 0;
  }  
  #sidebar8 { 
	z-index: 2;
	position: fixed;
	width: 78%;	
	background-color: #378b29;
	left: -90%;
	transition: 500ms;
	margin-top:  10%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar8.active{
	  left: 0;
  }  
  #sidebar9 { 
	z-index: 2;
	position: fixed;
	width: 81%;	
	background-color: #36802d;
	left: -93%;
	transition: 500ms;
	margin-top:  5%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar9.active{
	left: 0;
  }  
  #sidebar10 { 
	z-index: 2;
	position: fixed;
	width: 84%;	
	background-color: #234d20;
	left: -96%;
	transition: 500ms;
	margin-top: 0%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar10.active{
	  left: 0;
  }
  } 

@media only screen and (min-device-width: 1081px){
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	width: 100%;		
	text-align: center;	
	font-family: sans-serif;
}
header{
	width: 100%;		
	position: fixed;		
	background-color: #ffffba;
}
h1{
	width: 100%;
	font-size: 300%;		
	font-family: 'Times New Roman', Times, serif;
	font-weight: lighter;
	background-color: #ffffba;
	margin: 1% 0% 1% 0%;


}	
.iconoNav{
	width: 40px;
	height: 40px;		
	border-radius: 50%;
	border: 3px solid yellowgreen;
	margin: 0 2% 0 2%;		
}
.iconoNav:hover{
	border: 3px solid blue;
}
nav{
	border-top: 1px solid #111111;
	border-bottom: 1px solid #111111;		
	background-color: #ffffba;
	padding: 0.3% 0% 0.2% 0%;
	margin-bottom: 1.5%;
	
}
main{
	width: 100%;
	padding-top: 11%;		
}
article{
	width: 100%;			
	text-align: left;
	background-color: #ffffba;	
	padding-bottom: 1%;	
}
h2{	
	border-bottom: 1px solid #111111;
}
.fotoAutor{
	width: 50px;
	height: 50px;
	margin: 10px 20px 0 10px;
}
.enlaceDocumento{
	font-size: 25px;
	font-weight: lighter;
	text-decoration: none;
	color: #111111;
}
.enlaceDocumento:hover{
	color: blue;
}
iframe{
	width: 100%;
	height: 500px;		
}
  /*sidebar barra lateral primera*/
  #sidebar {
	position: fixed;
	z-index: 3;
	width: 10%;
	height: 100%;
	background-color: #6fcb9f;
	left: -20%;
	transition: 500ms;	  
	cursor: pointer;	
  }
  #sidebar.active {
	left: 0;
  }
  .boton {
	position: absolute;
	left: 500px;
	cursor: pointer;
	background-color: #f6f786;
	color: #111111;  
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 23px;  
	border-radius: 50%;
	border: 2px solid yellowgreen;
	margin-top: 26%;
	padding-top: 1%;
  }  
  .logo {
	border-radius: 50%;
	display: block;
	width: 45%;
	padding: 20px;	
  } 
  ul li {
	padding: 0;
	margin-bottom: 10px;
	color: white;
	text-align: center;
	list-style: none;
	width: 100%;	
	font-size: 75%;	
  }  
  /*sidebar barra lateral segunda*/ 
  .tituloBarraLateral {
	text-align: right;
	font-size: 80%;
	color: #f6f786;	
  } 
  .enlaceBarra{
	display: block;
	text-decoration: none;
	margin-top: 5%;
	font-size: 75%;
	color: white;
	text-align: right;	
  }  
  #sidebar2 { 
	z-index: 2;
	position: fixed;
	width: 60%;	
	background-color: #52bf90;
	left: -72%;
	transition: 500ms;
	margin-top: 40%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar2.active{
	  left: 0;
  }  
  #sidebar3 { 
	z-index: 2;
	position: fixed;
	width: 63%;	
	background-color: #49ab81;
	left: -75%;
	transition: 500ms;
	margin-top: 35%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar3.active{
	left: 0;
  }  
  #sidebar4 { 
	z-index: 2;
	position: fixed;
	width: 66%;	
	background-color: #419873;
	left: -78%;
	transition: 500ms;
	margin-top: 30%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
   #sidebar4.active{
	left: 0;
  }  
  #sidebar5 { 
	z-index: 2;
	position: fixed;
	width: 69%;	
	background-color: #398564;
	left: -81%;
	transition: 500ms;
	margin-top:  25%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar5.active{
	left: 0;
  }  
  #sidebar6 { 
	z-index: 2;
	position: fixed;
	width: 72%;	
	background-color: #317256;
	left: -84%;
	transition: 500ms;
	margin-top: 20%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar6.active{
	left: 0;
  }   
  #sidebar7 { 
	z-index: 2;
	position: fixed;
	width: 75%;	
	background-color: #77ab59;
	left: -87%;
	transition: 500ms;
	margin-top:  15%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar7.active{
	left: 0;
  }  
  #sidebar8 { 
	z-index: 2;
	position: fixed;
	width: 78%;	
	background-color: #378b29;
	left: -90%;
	transition: 500ms;
	margin-top:  10%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar8.active{
	  left: 0;
  }  
  #sidebar9 { 
	z-index: 2;
	position: fixed;
	width: 81%;	
	background-color: #36802d;
	left: -93%;
	transition: 500ms;
	margin-top:  5%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar9.active{
	left: 0;
  }  
  #sidebar10 { 
	z-index: 2;
	position: fixed;
	width: 84%;	
	background-color: #234d20;
	left: -96%;
	transition: 500ms;
	margin-top: 0%;   
	padding: 2% 2% 5% 0%;
	height: 100%;
  }
  #sidebar10.active{
	  left: 0;
  }
}